# common
.DS_Store
.env
.env.*
!.env.example
.idea
.vscode

# rust
*.rs.bk
target
*.db
*.db-shm
*.db-wal
lcov.info
dist
*.profraw
.cargo
tests/.tmp*

# javascript
node_modules
.svelte-kit
vite.config.js.*
