{
  "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "printWidth": 120,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "es5",
  "useTabs": false
}
