[package]
authors = ["Maxime Gauduin <alucryd@archlinux.org>"]
categories = ["command-line-utilities", "games"]
description = "Rusty ROM OrgaNizer"
edition = "2021"
exclude = [".github/", "dist/", "tests/"]
homepage = "https://github.com/alucryd/oxyromon"
keywords = ["cli", "rom", "tool"]
license = "GPL-3.0+"
name = "oxyromon"
readme = "README.md"
repository = "https://github.com/alucryd/oxyromon"
version = "0.17.0"

[features]
default = ["use-rustls", "enable-asm", "chd", "cia", "cso", "ird", "nsz", "rvz"]
use-native-tls = ["surf/h1-client"]
use-rustls = ["surf/h1-client-rustls"]
enable-asm = ["md-5/asm", "sha1/asm"]
chd = []
cia = []
cso = []
ird = ["flate2", "strsim"]
nsz = []
rvz = []
benchmark = []
server = [
    "async-graphql",
    "async-graphql-tide",
    "async-trait",
    "http-types",
    "tide",
]

[dependencies]
async-graphql = { version = "6.0.9", features = [
    "dataloader",
], default-features = false, optional = true }
async-graphql-tide = { version = "6.0.9", optional = true }
async-trait = { version = "0.1.74", optional = true }
cfg-if = "1.0.0"
clap = "4.4.7"
crc32fast = "1.3.2"
dialoguer = "0.11.0"
digest = { version = "0.10.7", features = ["std"] }
dirs = "5.0.1"
dotenv = "0.15.0"
env_logger = "0.10.0"
flate2 = { version = "1.0.28", optional = true }
futures = "0.3.29"
http-types = { version = "2.12.0", optional = true }
indicatif = { version = "0.17.7", features = ["rayon"] }
itertools = "0.11.0"
lazy_static = "1.4.0"
log = "0.4.20"
md-5 = "0.10.6"
num-derive = "0.4.1"
num-traits = "0.2.17"
once_cell = "1.18.0"
phf = { version = "0.11.2", features = ["macros"] }
quick-xml = { version = "0.31.0", features = ["serialize"] }
rayon = "1.8.0"
regex = "1.10.2"
rust-embed = { version = "8.0.0", features = ["compression"] }
serde = { version = "1.0.190", features = ["derive"] }
sha1 = "0.10.6"
shiratsu-naming = "0.1.7"
simple-error = "0.3.0"
sqlx = { version = "0.7.2", default-features = false, features = [
    "macros",
    "migrate",
    "runtime-tokio",
    "sqlite",
] }
strsim = { version = "0.10.0", optional = true }
strum = { version = "0.25.0", features = ["derive"] }
surf = { version = "2.3.2", default-features = false }
tempfile = "3.8.1"
tide = { version = "0.16.0", features = [
    "h1-server",
], default-features = false, optional = true }
tokio = { version = "1.33.0", features = [
    "fs",
    "io-std",
    "io-util",
    "macros",
    "process",
    "rt-multi-thread",
    "signal",
    "sync",
] }
vec-drain-where = "1.0.1"
walkdir = "2.4.0"
zip = { version = "0.6.6", features = ["deflate"], default-features = false }

[dev-dependencies]
serde_json = "1.0.108"
wiremock = "0.5.19"

[[bin]]
name = "oxyromon"
path = "src/main.rs"
