[package]
name = "oxyromon"
version = "0.8.1"
authors = ["Maxime Gauduin <alucryd@archlinux.org>"]
license = "GPL-3.0+"
description = "Rusty ROM OrgaNizer"
edition = "2018"
homepage = "https://github.com/alucryd/oxyromon"
readme = "README.md"
repository = "https://github.com/alucryd/oxyromon"
keywords = ["cli", "rom", "tool"]
categories = ["command-line-utilities", "games"]
exclude = ["test/"]

[features]
default = []
server = ["tide", "tide-sqlx"]

[dependencies]
async-std = { version = "1.9.0", features = ["attributes"] }
cfg-if = "1.0.0"
clap = "2.33.3"
crc32fast = "1.2.1"
dialoguer = "0.8.0"
digest = { version = "0.9.0", features = ["std"] }
dirs = "3.0.1"
dotenv = "0.15.0"
indicatif = { version = "0.15.0", features = ["rayon"] }
lazy_static = "1.4.0"
once_cell = "1.7.2"
quick-xml = { version = "0.22.0", features = ["serialize"] }
rayon = "1.5.0"
regex = "1.4.5"
serde = { version = "1.0.125", features = ["derive"] }
simple-error = "0.2.3"
shiratsu-naming = "0.1.3"
sqlx = { version = "0.5.2", features = ["migrate", "offline", "runtime-async-std-native-tls", "sqlite"] }
tempfile = "3.2.0"
phf = "0.8.0"
surf = { version = "2.2.0", features = ["h1-client"], default-features = false }
tide = { version = "0.16.0", features = ["h1-server"], default-features = false, optional = true }
tide-sqlx = { version = "0.6.1", optional = true }
zip = { version = "0.5.12", features = ["deflate"], default-features = false }

[target.'cfg(target_arch = "aarch64")'.dependencies]
native-tls = { version = "0.2.7", features = ["vendored"] }

[dev-dependencies]
wiremock = "0.5.2"

[[bin]]
name = "oxyromon"
path = "src/main.rs"
