[package]
authors = ["Maxime Gauduin <alucryd@archlinux.org>"]
categories = ["command-line-utilities", "games"]
description = "Rusty ROM OrgaNizer"
edition = "2021"
exclude = [".github/", "dist/", "tests/"]
homepage = "https://github.com/alucryd/oxyromon"
keywords = ["cli", "rom", "tool"]
license = "GPL-3.0+"
name = "oxyromon"
readme = "README.md"
repository = "https://github.com/alucryd/oxyromon"
version = "0.14.0-beta"

[features]
default = [
    "use-native-tls",
    "enable-asm",
    "chd",
    "cso",
    "ird",
    "rvz",
    "benchmark",
]
use-native-tls = ["sqlx/runtime-async-std-native-tls"]
use-rustls = ["native-tls", "sqlx/runtime-async-std-rustls"]
enable-asm = ["md-5/asm", "sha1/asm"]
chd = []
cso = []
ird = ["flate2", "strsim", "walkdir"]
rvz = []
benchmark = []
server = [
    "async-ctrlc",
    "async-graphql",
    "async-graphql-tide",
    "async-trait",
    "http-types",
    "tide",
]

[dependencies]
async-ctrlc = { version = "1.2.0", optional = true }
async-graphql = { version = "5.0.5", features = [
    "dataloader",
], default-features = false, optional = true }
async-graphql-tide = { version = "5.0.5", optional = true }
async-std = { version = "1.12.0", features = ["attributes"] }
async-trait = { version = "0.1.60", optional = true }
cfg-if = "1.0.0"
clap = "4.0.32"
crc32fast = "1.3.2"
dialoguer = "0.10.2"
digest = { version = "0.10.6", features = ["std"] }
dirs = "4.0.0"
dotenv = "0.15.0"
flate2 = { version = "1.0.25", features = [
    "zlib-ng-compat",
], default-features = false, optional = true }
futures = "0.3.25"
http-types = { version = "2.12.0", optional = true }
indicatif = { version = "0.17.2", features = ["rayon"] }
itertools = "0.10.5"
lazy_static = "1.4.0"
md-5 = "0.10.5"
native-tls = { version = "0.2.11", features = ["vendored"], optional = true }
num-derive = "0.3.3"
num-traits = "0.2.15"
once_cell = "1.17.0"
phf = { version = "0.11.1", features = ["macros"] }
quick-xml = { version = "0.27.1", features = ["serialize"] }
rayon = "1.6.1"
regex = "1.7.0"
rust-embed = { version = "6.4.2", features = [
    "compression",
    "interpolate-folder-path",
] }
serde = { version = "1.0.152", features = ["derive"] }
sha1 = "0.10.5"
shiratsu-naming = "0.1.7"
simple-error = "0.2.3"
sqlx = { version = "0.6.2", features = ["migrate", "offline", "sqlite"] }
strsim = { version = "0.10.0", optional = true }
surf = { version = "2.3.2", features = ["h1-client"], default-features = false }
tempfile = "3.3.0"
tide = { version = "0.16.0", features = [
    "h1-server",
], default-features = false, optional = true }
vec-drain-where = "1.0.1"
walkdir = { version = "2.3.2", optional = true }
zip = { version = "0.6.3", features = ["deflate"], default-features = false }

[dev-dependencies]
serde_json = "1.0.91"
wiremock = "0.5.16"

[[bin]]
name = "oxyromon"
path = "src/main.rs"
